#BUS_SORT

#N
clk
rst

#W
a1[7]
a1[6]
a1[5]
a1[4]
a1[3]
a1[2]
a1[1]
a1[0]

b1[7]
b1[6]
b1[5]
b1[4]
b1[3]
b1[2]
b1[1]
b1[0]

#S
an[0]
an[1]
an[2]
an[3]
an[4]
an[5]
an[6]
an[7]

#E
seg[0]
seg[1]
seg[2]
seg[3]
seg[4]
seg[5]
seg[6]

