#N
clk
reset
control


#E
result\[0\]
result\[1\]
result\[2\]
result\[3\]
result\[4\]
result\[5\]
result\[6\]
result\[7\]
result\[8\]
result\[9\]
result\[10\]
result\[11\]
result\[12\]
result\[13\]
result\[14\]
result\[15\]
result\[16\]
result\[17\]
result\[18\]
result\[19\]
result\[20\]
result\[21\]
result\[22\]
result\[23\]
result\[24\]
result\[25\]
result\[26\]
result\[27\]
result\[28\]
result\[29\]
result\[30\]
result\[31\]

#S

seg_out\[0\]
seg_out\[1\]
seg_out\[2\]
seg_out\[3\]
seg_out\[4\]
seg_out\[5\]
seg_out\[6\]

#W

an\[0\]
an\[1\]
an\[2\]
an\[3\]
